*
    margin: 0
    padding: 0
    box-sizing: border-box

img
    max-width: 100%
    height: auto

body
    font-family: 'ProximaNova', sans-serif
    font-size: 18px
    font-style: normal
    font-weight: normal
    color: #000000
    line-height: 120%

.button
    font-family: 'ProximaNova', sans-serif
    font-size: 18px
    font-weight: 600
    line-height: 120%
    font-style: normal
    color: #ffffff
    background-color: #153003
    border-radius: 5px
    height: 55px
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out
    cursor: pointer
    border: none
    display: flex
    align-items: center
    justify-content: center
    box-shadow: 2px 2px 15px 0px rgba(235, 209, 209, 0.9)
    border-radius: 30px
    &:hover
        background-color: #ff8562